<nav class="navbar top navbar-expand-sm">
  <!-- Brand/logo -->
  <!-- Links -->
  <ul class="navbar-nav">


    <a href="javascript:void(0)" class="nav-link"><i class="fa fa-bus"></i> Moving Home</a>
    <a href="javascript:void(0)" class="nav-link"><i class="fa fa-info-circle"></i> Network-Status</a>
    <a href="javascript:void(0)" class="nav-link"><i class="fa fa-headphones"></i> Support</a>

  </ul>
</nav>
<!--------------------Trial nav bar----------------------->
<div class="header" id="navbar">
  <nav class="navbar navbar-expand-lg  shadow-sm" id="nav-links">
    <div class="container">
      <a href="javascript:void(0)" class="navbar-brand">
        <!-- Logo Image -->
        <!-- <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2"> -->
        <img src="assets/images/logo.JPG" alt="" class="d-inline-block align-middle mr-2" style="width:70%; height:50%">
        <!-- Logo Text -->
        <!-- <span class="text-uppercase font-weight-bold">Company</span> -->
      </a>

      <!-- <button type="button" data-toggle="collapse" data-target="javascript:void(0)navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button> -->

      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="javascript:void(0)" class="nav-link nav-url">Home <span
                class="sr-only">(current)</span></a>
            <ul style="margin:00;padding:00">
              <li>
                <div style="margin-top: 0%;padding: 50px 40px 40px 40px;float: left; border: 1px solid #555;
             width: 100%px;  
                font-family: 'Roboto', sans-serif;background-color: white">
                  <div class="container">
                   <div class="row">
                      
                    <div class="col-md-4">
                      <span class="icon"><i class="fa fa-newspaper-o"></i>
                         </span>
                      <div class="content">
                        <h5>WORDPRESS</h5>
                        <p>Add a Wordpress Blog .</p>
                        <p><b>$199</b></p>
                      </div>
                    </div>
                      <div class="col-md-4">
                          <a href="http://arkahost.com/shared-hosting/">                          
                            <strong> Reseller Hosting</strong>
                            <!-- Web sites versions the years -->
                            </a>
                      </div>
                      <div class="col-md-4">
                          <a href="http://arkahost.com/shared-hosting/">                         
                            <strong>vps hsoting</strong>
                  
                            </a>
                      </div>
                      <!-- <a href="javascript:void(0)">Link 1</a> -->
                    </div>
                    <div class="row">
                      
                        <div class="col-md-4">
                            <div class="d-flex flex-row">
                              <div>
                            <a href="javascript(void(0))">
                              <!-- <i class="fa fa-cloud-upload" aria-hidden="true"></i> -->
                              <strong>Shared Hosting</strong>
                             
                              </a>
                            </div>
                       
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="http://arkahost.com/shared-hosting/">                          
                              <strong>wordPress hosting</strong>
                         
                              </a>
                        </div>
                        <div class="col-md-4">
                            <a href="http://arkahost.com/shared-hosting/">                         
                              <strong>Dedicated hosting</strong>
                        
                              </a>
                        </div>
                        <!-- <a href="javascript:void(0)">Link 1</a> -->
                      </div>

                  </div>
                </div>
              </li>
              <!-- <li><a href="javascript:void(0)">Link 2</a></li>
                    <li><a href="javascript:void(0)">Link 3</a></li> -->
            </ul>
          </li>
          <li class="nav-item"><a href="javascript:void(0)" class="nav-link nav-url">About</a>
            <ul style="margin:00;padding:00">
                <li>
                  <div style="margin-top: 0%;padding: 5% 5% 5% 5%;float: left; border: 1px solid #555;
               width: 100%;  
                  font-family: 'Roboto', sans-serif;background-color: white">
                    <div class="container">
                     <div class="row">
                        
                        <div class="col-md-12">
                            <div class="d-flex flex-row">
                              <div>
                            <a href="javascript(void(0))">
                              <!-- <i class="fa fa-cloud-upload" aria-hidden="true"></i> -->
                              <strong>Shared Hosting</strong>
                             
                              </a>
                            </div>
                          
                            </div>
                        </div>              
                      </div>
                      <div class="row">
                        
                          <div class="col-md-12">
                              <div class="d-flex flex-row">
                                <div>
                              <a href="javascript(void(0))">
                                <!-- <i class="fa fa-cloud-upload" aria-hidden="true"></i> -->
                                <strong> Hosting 02</strong>
                               
                                </a>
                              </div>
                            
                              </div>
                          </div>              
                        </div>
                        <div class="row">
                        
                            <div class="col-md-12">
                                <div class="d-flex flex-row">
                                  <div>
                                <a href="javascript(void(0))">
                                  <!-- <i class="fa fa-cloud-upload" aria-hidden="true"></i> -->
                                  <strong>Hosting 03</strong>
                                 
                                  </a>
                                </div>
                              
                                </div>
                            </div>              
                          </div>
                    </div>
                  </div>
                </li>
                <!-- <li><a href="javascript:void(0)">Link 2</a></li>
                      <li><a href="javascript:void(0)">Link 3</a></li> -->
              </ul>
          </li>
          <li class="nav-item"><a href="javascript:void(0)" class="nav-link nav-url">Services</a>
            <ul  style="margin:00;padding:00">
                <li id="menu-item-1211" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/about-us/">About Us</a></li>
                <li id="menu-item-1209" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/services/">Services</a></li>
                <li id="menu-item-1207" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/our-team/">Our Team</a></li>
                <li id="menu-item-1205" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/left-sidebar/">Left Sidebar</a></li>
                <li id="menu-item-1204" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/right-sidebar/">Right Sidebar</a></li>
                <li id="menu-item-1203" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/left-navigation/">Left Navigation</a></li>
                <li id="menu-item-1202" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/right-navigation/">Right Navigation</a></li>
                <li id="menu-item-1264" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/faqs/">FAQs</a></li>
                <li id="menu-item-1188" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://arkahost.com/404">404 Error Page</a></li>
                <li id="menu-item-1266" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/login-form/">Login Form</a></li>
                <li id="menu-item-1265" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/registration-form/">Registration Form</a></li>
                <li id="menu-item-1267" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/video-background/">Video Background</a></li>
                <li id="menu-item-1478" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://arkahost.com/coming-soon/">Coming Soon</a></li>
                <li id="menu-item-1178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown-submenu mul"><a href="#">Subpage with TopNav</a>
                <ul class="dropdown-menu three">
                <li id="menu-item-1179" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Version 1</a></li>
                <li id="menu-item-1180" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Version 2</a></li>
                <li id="menu-item-1181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown-submenu mul"><a href="#">Multi Level Submenu</a>
                <ul class="dropdown-menu three">
                <li id="menu-item-1182" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Menu Item 1</a></li>
                <li id="menu-item-1183" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Menu Item 2</a></li>
                </ul>
                </li>
                </ul>
                </li>
                </ul>
          </li>
          <li class="nav-item"><a href="javascript:void(0)" class="nav-link nav-url">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<script src="../../../../assets/js/home.js"></script>