<footer class="page-footer">
  <div class="container">
      <div class="row" style="padding:55px 0px 0px 0px;">
          <div class="col-md-5 col-sm-12">
              <div class="d-flex flex-row">
                  <div style="width: 100%">
                      <h5 class="white-text">Newsletter & Promotions</h5>
                      <p class="grey-text text-lighten-4">Bet the first to know what's up. </p>
                      <div>
                          <form>
                              <div class="form-group">
                                  <label class="sr-only" for="email">Name:</label>
                                  <input type="text" class="form-control" id="email" placeholder="Enter Name">
                              </div>
                              <div class="form-group">
                                  <label class="sr-only" for="pwd">Email:</label>
                                  <input type="email" class="form-control" id="pwd" placeholder="Enter Email">
                              </div>

                              <button type="submit" id="submitbtn" class="btn btn-custom-success">SUBMIT</button>
                          </form>
                      </div>
                      <div>
                          <ul class="list-group list-group-horizontal" style="margin-top: 3rem!important;">
                              <a class="grey-text text-lighten-3" href="javascript:void(0)">
                                  <li><i id="social" class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
                              </a>
                              <a class="grey-text text-lighten-3" href="javascript:void(0)">
                                  <li><i id="social" class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
                              </a>
                              <a class="grey-text text-lighten-3" href="javascript:void(0)">
                                  <li><i id="social" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></li>
                              </a>
                              <a class="grey-text text-lighten-3" href="javascript:void(0)">
                                  <li><i id="social" class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
                              </a>
                              <a class="grey-text text-lighten-3" href="javascript:void(0)">
                                  <li><i id="social" class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></li>
                              </a>
                          </ul>
                      </div>

                  </div>
              </div>
          </div>
 
          <div class="col-md-4 col-sm-6">
              <div class="d-flex flex-row">
                  <div>
                      <h5 class="white-text">Product Add-ons</h5>
                      <ul>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i class="fa fa-envelope"
                                      aria-hidden="true"></i> MMS Messaging & WAP</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i class="fa fa-phone"
                                      aria-hidden="true"></i> Virtual Numbers</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i
                                      class="fa fa-commenting" aria-hidden="true"></i>Bespoke SMS Solutions</a></li>

                      </ul>
                  </div>
              </div>
              <div class="d-flex flex-row">
                  <div>
                      <h5 class="white-text">Get Connected</h5>
                      <ul>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"> Web SMS Platform</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">API & Integration</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Email to SMS</a></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-3 col-sm-6">
              <div class="d-flex flex-row">
                  <div>
                      <h5 class="white-text">Our Solutions</h5>
                      <ul>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Business Messaging</a>
                          </li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Enterprise SMS Gateway</a>
                          </li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Partner Program</a></li>
                      </ul>
                  </div>
              </div>
              <div class="d-flex flex-row">
                  <div>
                      <h5 class="white-text">Support</h5>
                      <ul>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i
                                      class="fa fa-phone-square" aria-hidden="true"></i> Contact Us</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i
                                      class="fa fa-graduation-cap" aria-hidden="true"></i> Knowledgebase</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i
                                      class="fa fa-info-circle" aria-hidden="true"></i> About Us</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i
                                      class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i class="fa fa-file-text"
                                      aria-hidden="true"></i> API Documentation</a></li>
                          <li><a class="grey-text text-lighten-3" href="javascript:void(0)"><i class="fa fa-briefcase"
                                      aria-hidden="true"></i> Careers</a></li>
                      </ul>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <!-- © 2014 Copyright Text -->
                  Copyright © 2019 Webafrica - All rights reserved
              </div>
              <div class="col-md-8 payment-method">
                  <div class="one_half last aliright" style="float: right;">
                      <a href="javascript:void(0)">
                          Terms of Service </a>
                      |
                      <a href="javascript:void(0)">
                          Privacy Policy </a>
                      |
                      <a href="javascript:void(0)">
                          Site Map </a>
                  </div>
                  <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
              </div>

          </div>
      </div>
  </div>
</footer>